<header>
    <h2>My Movies</h2>
    <button type="button" (click)="onOpen()">+ Add new movie</button>
</header>
<main>
    <form [formGroup]="movieFilter" (ngSubmit)="onSubmit()">
        <label for="name">Name: </label>
        <input type="search" id="name" formControlName="name" (change)="onSubmit()" />
        <label for="category">Category: </label>
        <input type="search" id="category" formControlName="category" />
        <label for="rating">Rating: </label>
        <input type="search" id="rating" formControlName="rating" />
        <button type="submit">Search</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>N°</th>
                <th>Name</th>
                <th>Category</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let movie of movies; index as indexOfElement">
                <td>{{ indexOfElement }}</td>
                <td>
                    <a routerLink="/detail/{{ movie.id }}">
                        {{ movie.name }}
                    </a>
                </td>
                <td>{{ movie.category }}</td>
                <td>{{ movie.rating ? movie.rating : "" }}</td>
            </tr>
        </tbody>
    </table>
</main>
<app-modal [open]="isOpenModal" (closeModalEvent)="onClose($event)"></app-modal>
