.form-group {
    display: flex;
    justify-content: start;
}

.form-control {
    display: flex;
    align-items: center;
}

.form-control input {
    min-width: 15rem;
    width: 50%;
    max-width: 10rem;
}
