@import "./reset.css";

@font-face {
    font-family: "IBM BIOS";
    src: url("./assets/Ac437_IBM_BIOS.ttf");
}

:root {
    --fg-color: #fff;
    --bg-color: #00f;
    --shadow-color: #0ff;
}

html {
    font-family: "IBM BIOS";
    font-size: 16px;
    color: var(--fg-color);
    background-color: var(--bg-color);
    text-shadow: 0 0 10px var(--shadow-color);
}

nav ul {
    display: flex;
    justify-content: center;
}

li {
    margin: 0 1rem;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a:visited {
    color: inherit;
}

a:hover {
    color: var(--bg-color);
    background-color: var(--fg-color);
    text-shadow: 0 0 2px var(--bg-color);
}

header {
    display: flex;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: column;
}

form {
    margin: 0 1rem;
}

h1 {
    font-size: 2rem;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    margin: 1rem;
    padding: 1rem;
}

table {
    margin: 1rem;
    padding: 4px;
    border: solid 2px var(--fg-color);
}

th {
    border: solid 1px var(--fg-color);
    border-bottom: solid 2px var(--fg-color);
    padding: 1rem;
}

td {
    border: solid 1px var(--fg-color);
    padding: 1rem;
}

input {
    border: solid 0.25rem var(--fg-color);
    padding: 0.75rem;
    background: transparent;
    outline: none;
    color: inherit;
    font: inherit;
    appearance: none;
    margin-right: 1rem;
}

input[type="checkbox"]:checked {
    background-color: var(--fg-color);
}

input[type="checkbox"]:checked {
    background-color: var(--fg-color);
}

select {
    border: solid 0.25rem var(--fg-color);
    padding: 0.75rem;
    background: transparent;
    outline: none;
    color: inherit;
    font: inherit;
    appearance: none;
    margin-right: 1rem;
}

button {
    border: solid 0.25rem var(--fg-color);
    padding: 0.75rem;
    margin: 1rem;
    width: auto;
    background: transparent;
    outline: none;
    color: inherit;
    font: inherit;
    text-shadow: inherit;
    appearance: none;
}

button:hover {
    color: var(--bg-color);
    background-color: var(--fg-color);
    cursor: pointer;
}
